body {
    background-color:cadetblue;
}

.note
{
    font-size: 16px;
    color: black
}

.heading {
    font-size: 20px;
    color: rgb(239, 109, 77);
}

.someth {
    font-size: 17px;
    color: black;
}

.copy_right_footer {
    right: 45%;
    position: fixed;
    color: white;
    bottom: 0;
    border-radius: 20px;
    width: 10%;
    background-color: rgb(46, 162, 233);
    line-height: 2.5;
    text-align: center;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}